@font-face {
    font-family: 'Raleway';
    src: url(./Raleway/static/Raleway-Regular.ttf);
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway';
    font-weight: 400;

}

header{
    background: #136731;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a{
    color: white;
}

.active{
    display: none;
}